# See this for details: http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_Ruby_custom_container.html
# Configure third-party service credentials
# in environment variables:
# option_settings:
#  - option_name: AIRBRAKE_API_KEY
#    value: MYAPIKEY

# Run rake tasks before an application deployment
# container_commands:
#  01deploy:
#    command: rake my_deployment_tasks

# Run the setup file...
 container_commands:
  01deploy:
    command: ./bin/setup
